/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2015, 12:21:34 AM
    Author     : joe
*/

.jwl-alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.jwl-alert {
    margin-top: 20px;
}

.jwl-normal-container {
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    opacity: 0.8;
}

.jwl-footer-container {
     color: lightgrey;
     margin-top: 20px;
     text-align: center;
}

body {
    background: url('../images/301431.jpg') no-repeat 0 50% fixed; 
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}