<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="container jwl-normal-container" ng-controller="ProductGroupEditorController as main">
    <h1>Product Group Editor</h1>                                                                                    
    <h2>Search</h2>                                                                                                  
    <p><form role="form" class="form-inline">                                                                        
        <div class="form-group">                                                                                     
            <select class="form-control" ng-model="main.search.field">                                               
                <option ng-repeat="(columnName,columnMeta) in main.columns" value="{{columnName}}">{{columnName}}</option>                                                                                                                        
            </select>                                                                                                
        </div>                                                                                                       
        <div class="form-group">                                                                                     
            <select class="form-control" ng-model="main.search.isStrict">                                            
                <option value="true">equals</option>                                                                 
                <option value="">contains</option>                                                                   
            </select>                                                                                                
        </div>                                                                                                       
        <div class="form-group"><input class="form-control" type="text" ng-model="main.search.value"></div>          
        <button type="submit" ng-click="main.getRecords()" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>                                                                            
    </form></p>                                                                                                      
    <h2>Available Columns</h2>                                                                                       
    <p><button type="button" ng-repeat="(columnName,columnMeta) in main.columns" ng-click="columnMeta.isVisible = !columnMeta.isVisible" ng-hide="columnMeta.isVisible" class="btn btn-xs btn-success">{{columnName}}</button></p>                
    <h2>Current Recordset</h2>                                                                                       
    <table class="table table-bordered">                                                                             
        <thead><tr><th ng-repeat="(columnName,columnMeta) in main.columns" ng-show="columnMeta.isVisible"><button type="button" ng-click="columnMeta.isVisible = !columnMeta.isVisible" class="btn btn-xs btn-success">{{columnName}}</button><!--<button type="button" ng-click="main.options.sortOrder = columnName"  class="btn btn-xs btn-success"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></button><button type="button" ng-click="main.options.sortOrder = '-'+columnName" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></button>--></th></tr></thead>  
        <tr ng-repeat="row in main.records| orderBy: main.options.sortOrder">                                       
            <td ng-repeat="(columnName,columnMeta) in main.columns" ng-show="columnMeta.isVisible">                                 
                <div ng-hide="columnMeta.readonly" ng-click="editing = true"><a>{{row[columnName]}}</a>&nbsp;</div>      
                <div ng-hide="!columnMeta.readonly">{{row[columnName]}}</div>                                            
                <div style="position:absolute" ng-show="editing"><form role="form" class="form-inline">              
                        <div class="form-group"><input class="form-control" type="text" ng-model="row[columnName]"></div>       
                        <button type="submit" class="btn btn-primary" ng-click="editing = false"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>                                                                         
                        <button type="button" ng-click="editing = false; main.batchEdit(columnName, row[columnName])" class="btn btn-primary"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>                                             
                        <button type="button" ng-click="editing = false; main.refineSearch(columnName, row[columnName])" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>                                        
                    </form></div>                                                                                        
            </td>                                                                                                    
        </tr>                                                                                                        
    </table>   
</div>


            